<section class="h-100 gradient-form" style="background-color: #eee;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">

                <div class="text-center">
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp"
                    style="width: 185px;" alt="logo">
                
                </div>

                <form [formGroup]="usuarioForm" (ngSubmit)="onSubmit()">
                  <p>Ingresa tu cuenta</p>

                  <div class="form-outline mb-4">
                    <input type="email" id="form2Example11" class="form-control"
                      placeholder="Phone number or email address" name="nombre_usuario"
                      formControlName="nombre_usuario" />
                    <label class="form-label" for="form2Example11">Correo o nombre de usuario</label>
                  </div>

                  <div class="form-outline mb-4">
                    <input type="password" id="form2Example22" class="form-control" name="clave_usuario"
                      formControlName="clave_usuario" />
                    <label class="form-label" for="form2Example22">Contraseña</label>
                  </div>
          
                  <div class="text-center pt-1 mb-5 pb-1" style="display: flex; flex-direction: column;">
                    <input type="submit" class="btn btn-primary">
                    <a class="text-muted" (click)="toGoToForgot()" role="button">¿Olvidaste tu contraseña?</a>
                  </div>
              
                  <div class="d-flex align-items-center justify-content-center pb-4">
                    <a class="mb-0 me-2" role="button" role="button" (click)="toGoRegister()">¿Eres nuevo?</a>
                  </div>

                </form>

              </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
              <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                <h4 class="mt-1 mb-5 pb-1">Sistema de control de medicamentos</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>