<div class="main-content">
    <div class="container-fluid">
        <div class="row">

        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-success">
                        <div class="ct-chart" id="dailySalesChart"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Objetivos</h4>
                        <p class="card-category">
                            <span class="text-success"><i class="fa fa-long-arrow-up"></i> 55% </span> 55% en porcentaje a mejorar
                        </p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-warning">
                        <div class="ct-chart" id="websiteViewsChart"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Tiempo en la aplicacion</h4>
                        <p class="card-category">Ultimos 2 meses</p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">Ultima vez</i> Ahora
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>